/* Estilos globales o por página */

/* Reset y fuentes globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-radius: 6px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    vertical-align: -4px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #000000;
}

/* Estructura general */

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 40px;
}

h1 {
    text-align: left;
    margin-top: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000000;
}

/* Navbar reutilizable */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

nav a.active {
    background: #72727214;
    pointer-events: none;
}

.container nav {
    margin-left: -10px;
    margin-right: -10px;
}

nav a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    padding: 10px 16px;
    border-radius: var(--border-radius);
}

nav a:not(.btn-comprar):hover {
    background: #0000000c;
}


/* Botones reutilizables */
.btn-comprar {
    color: #FFFFFF;
    border: none;
    border: 1px solid #000000;
    padding: 10px 22px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    background: #000000;
    border-radius: var(--border-radius);
}

.btn-comprar:hover {
    color: #000000;
    background: transparent;
    border: 1px solid #000000;
}


.btn-center {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}


/* Botón flotante de WhatsApp */
.wpp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #25D366;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 9999;
}

.wpp img {
    width: 32px;
    height: auto;
    display: block;
}


/* Media queries globales */
@media (max-width: 768px) {
    h1 {
        line-height: 1.1;
    }
    
    .libros-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        margin-bottom: 20px;
    }
    
    .libro {
        min-height: auto;
    }
    
    .libro img {
        max-width: 180px;
        height: 260px;
    }
}

@media (max-width: 425px) {
    h1 {
        line-height: 1.1;
    }
    
    .libros-grid {
        grid-template-columns: 1fr;
        gap: 25px;
    }
}

